{% extends "base.html"%}
{% load compress %}
{% load static %}

{% block content %}
<div class="flex h-screen flex-col justify-center items-center bg-purple-300">
    <img src="{% static 'images/vee logo.jpeg' %}" alt="Vee's Comfort Logo" class="w-32 h-32 mb-6">

    <h1 class="text-6xl font-bold text-purple-900 flex justify-center mt-1">Vee's Comfort</h1>
    <p class="text-xl text-purple-900 mt-4">
        Welcome to our cozy hostel. We offer comfortable accommodation and a range of services to make your stay enjoyable.
    </p>
    <p class="text-xl text-purple-900 mt-2">
        Book your stay today and experience the best of Venice.
    </p>
    <p class="text-xl text-purple-900 mt-2">
        Our family owned hostels make Venice feel like home
    </p>
    <a href="{% url 'hostelapp:hostel_list'%}" class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded mt-8">
        Our Hostels
    </a>
</div>
{% endblock %}
